body {

     background-color: rgb(191, 193, 191);
     font-family: verdana, arial, helvetica;
     max-width: 900px;
     margin: auto;
}

#titulo, .subtitulo, .subtitulo2 {
    color: red;

}
#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; ;
    text-transform: apparently;
}

.subtitulo2 {
    font-style: cursive;
    font-family: cursive, arial, helvetica;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;

}
.img_cabecario{
    border: 2px solid rgb(89, 89, 89); 
    border-radius: 30%;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    
}
.img_post{
    
    max-width:300px;
    max-height:150px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.post{
    background-color: white;;
    border: 3px dashed rgb(167, 167, 167);
    border-radius: 3%;
    padding: 15px;
    margin: 15px;
}
.post-content{
    margin: 0;
    margin-bottom: 15px;
}
#referencia {
    list-style-type: none;
    padding-left: 15px;
    font-family: cursive;
}
#referencia li a{
    color: red;
    text-decoration: none;

}
